@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #2b2b2b;
  --primary-background: #fff;
  --highlight-color: #c6b1ef;
  --highlight-dark-color: #372f43;
  --primary-background-90: #ffffffe6;
  --warning-red: #f37373;
  --purple: #8553f3;
  --light-purple: #ae89ff;
}

body,
html {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: var(--primary-color);
  background-color: var(--primary-background);
}

hr {
  border: none;
  border-bottom: solid 1px var(--primary-color);
  width: 100%;
  opacity: 10%;
}

.hrW {
  border-color: var(--primary-background);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
}

.warningRed {
  color: var(--warning-red) !important;
}

a {
  color: var(--highlight-color);
}

ul {
  line-height: 1.8rem;
}

b {
  font-weight: 500;
}

h2 {
  color: var(--highlight-dark-color);
}

.purple {
  color: var(--purple);
}

.lightPurple {
  color: var(--light-purple);
}

.simpleButton {
  display: flex;
  background-color: var(--purple);
  color: var(--primary-background);
  border-radius: 0.5rem;
  padding: 1rem;
  font-weight: 600;
  font-size: 1em;
  align-content: center;
  justify-content: center;
  outline: none;
  border: none;
  user-select: none;
  width: fit-content;
}

.simpleButton:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.simpleButton:active {
  transform: scale(0.99);
}

input {
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 0.25rem;
}
