main {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  width: 70%;
  gap: 2rem;
  flex-grow: 1;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--highlight-dark-color);
  color: var(--primary-font);
  border-radius: 0.5rem;
  padding: 2rem;
  font-size: 0.95em;
}

.innerDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.appDetails {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.appDetails > span {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-content: center;
}

.appDetails > span > span {
  font-size: 0.8em;
  font-weight: 400;
  opacity: 95%;
}

.appForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.status {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  align-items: center;
  background-color: var(--highlight-dark-color2);
  border-radius: 0.5rem;
}
